/* You can add global styles to this file, and also import other style files */
body {font-family: "Lato", sans-serif;}
nav {
    margin-bottom: 20px;
  }
  
  a {
    margin-right: 15px;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
